html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar-menu-link {
  color: #278691;
}

.bg-cta {
  background-color: #263238;
}

.searc-icon {
  color: #E8AA33;
}

.dropdown-bg {
  background-color: #FFC100;
}
